body {
    margin: 0;
    padding: 0;
    font-family: font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*header part start*/

.header-part {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.color {
    color: orange;
}

.my-content {
    padding-top: 30PX;
}

.my-content h1 {
    font-weight: 800;
    text-transform: uppercase;
}

.main-img img {
    width: 400px;
    padding-top: 30px;
}

.my-content h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 3px;
}

.my-content p {
    width: 80%;
    text-align: justify;
    line-height: 28px;
    font-weight: normal;
}


/*header part end*/